/*
 * Google Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*
 * Config
 */
 :root {
  --fg-color: #E5E7EB;
  --bg-color: #1F2937;
  --bg-shade-1: #374151;
  --bg-shade-2: #4B5563;
  --bg-shade-3: #6B7280;
  --accent-color: #10B981;
  --border-size: .15em;
  --font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

/*
 * Reset
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*
 * Basic styling
 */
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
*:focus {
  outline-style: solid;
  outline-width: var(--border-size);
  outline-color: var(--accent-color);
}
a {
  color: var(--fg-color);
  text-decoration: none;
  transition: color .3s ease;
}
a:hover,
a:focus {
  color: var(--accent-color);
}
[aria-hidden="true"] {
  display: none;
}
hr {
  border-color: var(--accent-color);
  border-width: 2px;
  margin: .5em 0;
  margin-block: .5em;
}
a.with-icon {
  display: inline-flex;
  align-items: center;
  gap: .5em;
}


/*
 * Forms
 */
input,
select {
  font-family: var(--font-family);
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  padding-inline: 1em;
  padding-block: .5em;
  border: var(--border-size) solid transparent;
  background-color: var(--bg-shade-1);
  color: var(--fg-color);
  transition: border-bottom-color .3s ease;
}
select:focus,
select:active,
input:focus,
input:active {
  outline: none;
  border-bottom-color: var(--accent-color);
}

/*
 * Icons
 */ 
i.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url('./svg/question-mark-circle.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: url('./svg/question-mark-circle.svg');
}
i.icon.main {
  mask-image: url('./svg/book-open.svg');
  -webkit-mask-image: url('./svg/book-open.svg');
}
i.icon.extended {
  mask-image: url('./svg/clipboard-list.svg');
  -webkit-mask-image: url('./svg/clipboard-list.svg');
}
i.icon.complete,
i.icon.completionist {
  mask-image: url('./svg/clipboard-check.svg');
  -webkit-mask-image: url('./svg/clipboard-check.svg');
}
i.icon.multi {
  mask-image: url('./svg/user-group.svg');
  -webkit-mask-image: url('./svg/user-group.svg');
}
i.icon.coop {
  mask-image: url('./svg/users.svg');
  -webkit-mask-image: url('./svg/users.svg');
}
i.icon.any {
  mask-image: url('./svg/globe.svg');
  -webkit-mask-image: url('./svg/globe.svg');
}
i.icon.polled {
  mask-image: url('./svg/annotation.svg');
  -webkit-mask-image: url('./svg/annotation.svg');
}
i.icon.rushed {
  mask-image: url('./svg/running.svg');
  -webkit-mask-image: url('./svg/running.svg');
}
i.icon.leisure {
  mask-image: url('./svg/hiking.svg');
  -webkit-mask-image: url('./svg/hiking.svg');
}
i.icon.fastest {
  mask-image: url('./svg/rabbit.svg');
  -webkit-mask-image: url('./svg/rabbit.svg');
}
i.icon.slowest,
i.icon.longest {
  mask-image: url('./svg/tortoise.svg');
  -webkit-mask-image: url('./svg/tortoise.svg');
}
i.icon.any,
i.icon.all {
  mask-image: url('./svg/globe-alt.svg');
  -webkit-mask-image: url('./svg/globe-alt.svg');
}
i.icon.down {
  mask-image: url('./svg/chevron-down.svg');
  -webkit-mask-image: url('./svg/chevron-down.svg');
}
i.icon.up {
  mask-image: url('./svg/chevron-up.svg');
  -webkit-mask-image: url('./svg/chevron-up.svg');
}
i.icon.most,
i.icon.left {
  mask-image: url('./svg/chevron-left.svg');
  -webkit-mask-image: url('./svg/chevron-left.svg');
}
i.icon.least,
i.icon.right {
  mask-image: url('./svg/chevron-right.svg');
  -webkit-mask-image: url('./svg/chevron-right.svg');
}
i.icon.github {
  mask-image: url('./svg/github.svg');
  -webkit-mask-image: url('./svg/github.svg');
}